* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  --header-font-light: #fff;
  --text-color: #0c0c0c;
}

body {
  background-color: #ebebeb;
  overflow-x: hidden;
  font-size: 16px;
}

.navbar {
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 100%;
  background-color: blueviolet;
}

.navbar .site-title {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--header-font-light);
}

.navlist-container {
  display: flex;
  justify-content: space-between;
}

.navlist-container button {
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.navlist-container button:hover {
  cursor: pointer;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 12px;
  margin: 6px 0;
}

.navbar ul li .nav-link {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--header-font-light);
}

.main-container {
  margin: 4px;
  color: var(--text-color);
  font-size: 1rem;
}

/* Contact Page */

.contactlaylout-container {
  width: 50vw;
}

.contact-btn-container {
  display: flex;
  width: 100%;
}

.contact-btn-container button {
  width: 50%;
  height: 2rem;
  background-color: #0c0c0c;
  border: none;
  color: #ebebeb;
  font-size: 0.8rem;
}

.contact-btn-container button:hover {
  background-color: blueviolet;
  cursor: pointer;
}

.contact-btn-container button.active {
  text-decoration: underline;
}

.contact-child-container {
  margin-top: 1rem;
}

/* Page Notfound  */

.notfound-container {
  height: 80vh;
  text-align: center;
  margin: 25% auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

.notfound-container h4 {
  font-size: 1.5rem;
  color: var(--text-color);
  opacity: 0.6;
}

.notfound-container button {
  width: inherit;
  padding: 0.6rem;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 0.1rem;
  border: 1px solid;
  background-color: transparent;
}

.notfound-container button:hover {
  background-color: blueviolet;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Posts */

.posts-container {
  margin: 0.5rem;
  width: 50vw;
  margin: 0 auto;
}

.posts-container h2 {
  margin-bottom: 1rem;
}

.posts-container .post {
  border: 1px solid;
  border-radius: 0.2rem;
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.posts-container .post a {
  text-decoration: none;
  color: inherit;
}

.posts-container .post h5 {
  font-size: 0.9rem;
}

.posts-container .post h5:hover {
  cursor: pointer;
}

.posts-container .post p {
  font-size: 0.8rem;
  opacity: 0.8;
}

/* Route Error */

.route-error-container {
  height: 80vh;
  text-align: center;
  margin: 25% auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

.route-error-container h4 {
  font-size: 1.5rem;
  color: var(--text-color);
  opacity: 0.6;
}

.route-error-container button {
  width: inherit;
  padding: 0.6rem;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 0.1rem;
  border: 1px solid;
  background-color: transparent;
}

.route-error-container button:hover {
  background-color: blueviolet;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* AuthLogin */

.auth-login-container {
  width: 50%;
  background-color: #f1f1f1;
  margin: 10% auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem #4c4747;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.auth-login-container h2 {
  text-align: center;
  color: var(--text-color);
  opacity: 0.8;
}

.auth-login-container .section-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  * {
    width: 50%;
  }
}

.auth-login-container button {
  width: 6rem;
  margin: 0 auto;
  padding: 0.4rem 0.2rem;
  font-size: 0.9em;
  font-weight: 600;
  border: none;
  border-radius: 0.1rem;
  background-color: #edeaea;
}

.auth-login-container button:hover {
  background-color: blueviolet;
  color: #fff;
  border: none;
  cursor: pointer;
}

.sample-cred {
  margin-top: 1.2rem;
  background-color: #e8e3e3;
  padding: 0.7rem;
  border-radius: 0.6rem;
  font-size: 0.8rem;
  > div {
    font-size: 0.6rem;
  }
}

/* Mobile Screen */

@media screen and (max-width: 430px) {

  .posts-container {
  width: 100%;

  .auth-login-container {
    width: 100%;
  }
}
