.container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.container header,
footer {
  width: inherit;
  height: 10%;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.container header button {
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
}

.container header button:hover {
  cursor: pointer;
  font-size: 1.61rem;
  text-decoration: underline;
  transition: font-size 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: scale(1.1);
}

.container footer {
  position: absolute;
  bottom: 0;
}

.container .main-container {
  display: grid;
  grid-template-areas: "aside main aside";
  grid-template-columns: 1fr 3fr 1fr;
  gap: 2px;
  height: 80%;
}

.container aside {
  padding: 12px;
  width: 100%;
}

.container aside:first-child {
  background-color: lightskyblue;
}

.container aside:last-child {
  background-color: lightgoldenrodyellow;
}

.container main {
  padding: 4px;
}

.container main .main-heading {
  font-size: 2rem;
  color: lightsalmon;
  text-decoration: underline;
}

@media only screen and (max-width: 800px) {
  .container .main-container main {
    background-color: aliceblue;
    grid-row-start: 3fr;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .container .main-container aside:first-child {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .container .main-container aside:last-child {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .container header button {
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
  }

  .container header button:hover {
    cursor: pointer;
    font-size: 1.41rem;
    text-decoration: underline;
    transition: font-size 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 600px) {
  .container .main-container main {
    background-color: aliceblue;
    grid-row-start: 1;
  }

  .container .main-container aside:first-child {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .container .main-container aside:last-child {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
