table {
  background-color: aliceblue;
}

tr {
  border: 1px solid black;
}

.pagination-container {
  display: flex;
}

.pagination-numbers {
  display: flex;
  background-color: aquamarine;
  width: fit-content;
  > li {
    padding: 12px 16px;
    border: 2px solid rgb(23, 205, 144);
  }

  > li.active {
    background-color: rgb(23, 205, 144);
  }

  > li:hover {
    cursor: pointer;
  }
}

.btn-prev,
.btn-next {
  padding: 0 14px;
}
